<div class="container Home">
  <div class="row Center">
    <div class="col s10 m5">
      <h2 class="header">Sobre</h2>

      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag("marcelo-alisson.jpg", class: "activator") %>
      </div>
        <div class="card-content">
          <p>Oi! Eu sou Marcelo. E este é o LockAce:</p>
          <span class="card-title activator grey-text text-darken-4">Sistema para Autenticação Facial Web<i class="mdi-navigation-more-vert right"></i></span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Mais Informações<i class="mdi-navigation-close right"></i></span>
          <p>
            <b>Titulo:</b> Desenvolvimento de uma Aplicação para Controle de Acesso Através do Reconhecimento Facial
          </p>
          <p>
            <b>Desenvolvedor:</b> Marcelo Alisson Pereira Neves<br>
            <b>Orientador:</b> Edgar Lucas Castelo Branco Kaiser<br>
          </p>
          <p>
            <b>Finalizado em:</b> Junho de 2015<br>
            <b>Instituição:</b> Centro Universitário Luterano de Ji-Paraná CEULJI/ULBRA<br>
          </p>
          <p><b>Objetivo:</b> Desenvolver uma aplicação para controle de acesso através do reconhecimento de faces</p>
          <p><i class="fa fa-github"></i> <b>GitHub:</b> <a href="https://github.com/marceloCBK/lockace.git" title="LockAce - Sistema para Autenticaçao Facial Web">https://github.com/marceloCBK/lockace.git</a></p>
          <p><i class="fa fa-file-word-o"></i> <b>Arquivo:</b> <a href="https://drive.google.com/open?id=0B2uTE0mCt0PpYTRHd19EUy05ZUU&authuser=0" title="LockAce - Sistema para Autenticaçao Facial Web">LockAce - Sistema para Autenticação Facial Web</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "site/mensagens" %>
<%= render partial: "site/toast" %>
